{% extends "layout.html" %}

{% block body %}
    {% load crispy_forms_tags %}
    <h3>Experiment-1</h3>
    <hr>

    <div class="container">
        <div class="row">
            <div class="col">
                <form method = "post">
                    {% csrf_token %}
                    {{form.as_p}}
                    
                    <button type = "submit" name = "btn1" class = "btn btn-danger">Apply</button>
                    <button type = "submit" name = "btn2" class = "btn btn-danger">Get Solutions</button>
                </form>
                <hr>
            </div>
            <div class="col">
                <p>Please enter AC value in Hertz.</p>
                <p class="indent"></p>
                <hr>

                <p>Please enter DC value for the first DC input.</p>
                <p class="indent"></p>
                <hr>

                <p>Please enter DC value for the second DC input.</p>
                <p class="indent"></p>
                <hr>

                <p>Please enter the nodes to connect Channel1.</p>
                <p class="indent"></p>
                <hr>

                <p>Please enter the nodes to connect Channel2.</p>
                <p class="indent"></p>
                <hr>

                <p>Please choose Pot Value 1000 or 4400 ohms.</p>
                <p class="indent"></p>
                <hr>
            </div>
            <div class="col">
                <img class= "img-fluid rounded" src="/media/exp.PNG" alt="Circuit 1 switch connections">
                <img class= "img-fluid rounded" src="/media/devre1.png" alt="Circuit 1 Schematic">
                <img class= "img-fluid rounded" src="/media/circuit2.PNG" alt="Circuit 1 Schematic">
            </div>
        </div>
    </div>

{% endblock body %}